<div class="main-container">

<!-- <nav class="navbar-container">
    <div class="logo-contianer">AN</div>
    <div class="menu-item-contsiner">
        <div class="menu-item">Services</div>
        <div class="menu-item">About us</div>
        <div class="menu-item">Contact</div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">

        </div>
    <div class="menu-item-contsiner">
        <div class="menu-item">Services</div>
        <div class="menu-item">About us</div>
        <div class="menu-item">Contact</div>
    </div>
      </div>
    </div>
  </nav>

<section class="dealer-container">
    <h1>Dealership</h1>

    <div class="table-container">
        <div class="option-container">
            <input type="text" placeholder="search" class="search-inp">
            <div class="btn-cotainer">
                <button type="button" class="add-btn">Add Dealers</button>
            </div>
        </div>
        <div class="table_component" role="region" tabindex="0">
            <table>
                <thead>
                    <tr>
                        <th>Sno.</th>
                        <th>Name</th>
                        <th>Amount Of Cars</th>
                        <th>Total Budget</th>
                        <th>Remining Budget</th>
                        <th></th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td>3</td>
                        <td>$125</td>
                        <td>$2700</td>
                        <td><button type="button" class="view-btn">View</button></td>
                        <td><button type="button" class="edit-btn">Edit</button></td>
                        <td><button type="button" class="delete-btn">Delete</button></td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</section>

</div>
